{% extends "account/base.html" %}
{% load i18n %}

{% block title %}Password Reset Email Sent{% endblock %}
{% block heading %}Password Reset Email Sent{% endblock %}

{% block content %}
<div class="text-center space-y-4">
    <div class="text-green-600 mb-4">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-16 w-16 mx-auto" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
        </svg>
    </div>
    
    <p class="text-gray-600">
        {% trans "We have sent you an email. If you have not received it please check your spam folder. Otherwise contact us if you do not receive it in a few minutes." %}
    </p>
    
    <p class="mt-6">
        <a href="{% url 'account_login' %}" class="text-green-600 hover:underline">
            {% trans "Back to Login" %}
        </a>
    </p>
</div>
{% endblock %}