{% extends 'base.html' %}
{% load static %}

{% block title %}Terms and Conditions - Bavaal.com{% endblock %}

{% block content %}
<div class="container mx-auto py-8 px-4">
    <h1 class="text-3xl font-bold text-gray-800 mb-6">Terms and Conditions</h1>

    <div class="prose max-w-none">
        <h2 class="text-2xl font-semibold text-gray-700 mt-6 mb-3">Terms and Conditions</h2>
        <p class="text-gray-600 leading-relaxed">Welcome to&nbsp;bavaal.com!</p>
        <p class="text-gray-600 leading-relaxed">These terms and conditions lay forth the groundwork for using&nbsp;bavaal.com&nbsp;website, which may be found at&nbsp;bavaal.com</p>
        <p class="text-gray-600 leading-relaxed">We assume that by accessing this website, you agree to these terms and conditions. If you do not agree to all of the terms and conditions listed on this page, do not use&nbsp;bavaal.com.</p>
        <p class="text-gray-600 leading-relaxed">These Terms and Conditions, Privacy Statement and Disclaimer Notice, and all Agreements are governed by the following terminology: “Client,” “You,” and “Your” refer to you, the person who logs on to this website and agrees to the Company’s terms and conditions. Our Company is referred to as “The Company,” “Ourselves,” “We,” “Ours,” and “Us.” Both the Client and ourselves are referred to as “Party,” “Parties,” or “Us.”All terms refer to the offer, acceptance, and consideration of payment necessary to begin the process of our assistance to the Client in the most appropriate manner for the express purpose of meeting the Client’s needs in respect of the Company’s specified services, in line with and subject to, applicable Dutch legislation. Any use of the above language, as well as other words in the singular, plural, capitalization, and/or he/she or they, is assumed to mean the same thing.</p>

        <h2 class="text-2xl font-semibold text-gray-700 mt-6 mb-3">Cookies</h2>
        <p class="text-gray-600 leading-relaxed">Cookies are used on this site. You accepted to use cookies in accordance with the&nbsp;bavaal.com&nbsp;Privacy Policy by visiting&nbsp;bavaal.com</p>
        <p class="text-gray-600 leading-relaxed">Cookies are used by most interactive websites to allow us to retrieve the user’s information for each visit. Cookies are used on our website to allow specific areas to work and to make things easier for users. Certain of our affiliate/advertising partners may also utilize cookies.</p>

        <h2 class="text-2xl font-semibold text-gray-700 mt-6 mb-3">License</h2>
        <p class="text-gray-600 leading-relaxed">Unless otherwise stated, all intellectual property rights in all material on&nbsp;bavaal.com&nbsp;are owned by&nbsp;bavaal.com&nbsp;and/or its licensors. All rights to intellectual property are reserved. You may use this for your own personal use from&nbsp;bavaal.com, subject to the restrictions set forth in these terms and conditions.</p>
        <p class="text-gray-600 leading-relaxed">You must not:</p>
        <ul class="list-disc pl-5 text-gray-600 leading-relaxed">
            <li>Republish material from&nbsp;bavaal.com</li>
            <li>Sell, rent, or sub-license material from&nbsp;bavaal.com</li>
            <li>Reproduce, duplicate or copy material from&nbsp;bavaal.com</li>
            <li>Redistribute content from&nbsp;bavaal.com</li>
        </ul>
        <p class="text-gray-600 leading-relaxed">Parts of this website allow users to post and exchange thoughts and information in designated places. Prior to their appearance on the Internet, bavaal.com&nbsp;does not filter, edit, publish, or review Comments. The thoughts and opinions expressed in the comments do not reflect those of&nbsp;bavaal.com, its agents, or affiliates. The views and opinions expressed in comments reflect the views and opinions of the individual who posted them. bavaal.com&nbsp;shall not be liable for the Comments or for any liabilities, damages, or expenses caused and/or suffered as a result of the use of and/or posting of and/or appearance of the Comments on this website, to the extent permitted by applicable laws.</p>
        <p class="text-gray-600 leading-relaxed">bavaal.com&nbsp;has the right to review all Comments and to remove any Comments that are inappropriate, offensive, or violate our Terms and Conditions.</p>
        <p class="text-gray-600 leading-relaxed">You warrant and represent that:</p>
        <ul class="list-disc pl-5 text-gray-600 leading-relaxed">
            <li>You have the essential rights and consent to post the Comments on our website, and you have been given permission to do so.</li>
            <li>No third-party intellectual property rights, such as copyright, patents, or trademarks, are infringed upon by the Comments.</li>
            <li>In the Comments, there is no defamatory, libelous, offensive, indecent, or otherwise unlawful content that constitutes a privacy invasion.</li>
            <li>The Comments will not be used to solicit or promote any type of business, custom, or current commercial or illegal activity.</li>
        </ul>
        <p class="text-gray-600 leading-relaxed">You hereby grant&nbsp;bavaal.com&nbsp;a non-exclusive license to use, reproduce, edit, and authorize others to use, reproduce, edit, and authorize others to use, reproduce, edit, and authorize others to use, reproduce, and edit any of your Comments in any form, format, or media.</p>

        <h2 class="text-2xl font-semibold text-gray-700 mt-6 mb-3">Hyperlinking to our Content</h2>
        <p class="text-gray-600 leading-relaxed">Without prior written permission, the following organizations may link to our website:</p>
        <ul class="list-disc pl-5 text-gray-600 leading-relaxed">
            <li>Government agencies;</li>
            <li>Search engines;</li>
            <li>News organizations;</li>
            <li>Distributors of online directories may link to our website in the same way that they connect to the websites of other businesses included in the directory.; and</li>
            <li>Except for soliciting non-profit organizations, charity shopping malls, and charity fundraising clubs, which are not permitted to link to our website.</li>
        </ul>
        <p class="text-gray-600 leading-relaxed">These organizations may link to our home page, publications, or other Website content as long as the link complies with the following criteria: (a) is not in any way deceptive; (b) does not suggest that the connecting party or its products and/or services are sponsored, endorsed, or approved in any way; and (c) ties nicely with the theme of the linking party’s website.</p>
        <p class="text-gray-600 leading-relaxed">Other link requests from the following categories of organizations may be considered and approved:</p>
        <ul class="list-disc pl-5 text-gray-600 leading-relaxed">
            <li>commonly-known consumer and/or business information sources;</li>
            <li>dot.com community sites;</li>
            <li>associations or other groups representing charities;</li>
            <li>online directory distributors;</li>
            <li>internet portals;</li>
            <li>accounting, law, and consulting firms; and</li>
            <li>educational institutions and trade associations.</li>
        </ul>
        <p class="text-gray-600 leading-relaxed">We will approve link requests from these organizations if we determine that: (a) the link will not reflect poorly on us or our accredited businesses; (b) the organization has no negative records with us; (c) the benefit to us from the visibility of the hyperlink compensates for the absence of&nbsp;bavaal.com&nbsp;and (d) the link will be in the context of general resource information.</p>
        <p class="text-gray-600 leading-relaxed">These organizations are welcome to link to our home page as long as the link: (a) is not misleading; (b) does not falsely imply sponsorship, endorsement, or approval of the linking party or its products or services; and (c) is appropriate for the linking party’s website.</p>
        <p class="text-gray-600 leading-relaxed">Please contact us by email at&nbsp;bavaal.com&nbsp;if you are one of the organizations listed in paragraph 2 above and would want to link to our website. Include your name, the name of your organization, contact information, and the URL of your website, as well as a list of any URLs from which you intend to link to our site and a list of the URLs on our site to which you would like to connect. Expect a response in two to three weeks.</p>
        <p class="text-gray-600 leading-relaxed">Approved organizations may use the following URL to link to our website:</p>
        <ul class="list-disc pl-5 text-gray-600 leading-relaxed">
            <li>By use of our corporate name; or</li>
            <li>The usage of a unified resource locator (URL) that is linked to; or</li>
            <li>By describing our Website in any other way that makes sense in the context and format of the linked party’s website’s content.</li>
        </ul>
        <p class="text-gray-600 leading-relaxed">There will be no use of&nbsp;bavaal.com&nbsp;logo or any artwork for linking without a trademark license agreement.</p>

        <h2 class="text-2xl font-semibold text-gray-700 mt-6 mb-3">iFrames</h2>
        <p class="text-gray-600 leading-relaxed">Without prior approval and written agreement, you may not put frames around our Webpages that alter the visual presentation or look of our Website.</p>

        <h2 class="text-2xl font-semibold text-gray-700 mt-6 mb-3">Content Liability</h2>
        <p class="text-gray-600 leading-relaxed">We are not responsible for any of the content on your website. You agree to defend and indemnify us in the event of any disputes arising from your Website. On any Website, there should be no link(s) that could be regarded as defamatory, obscene, or illegal, or that infringes, otherwise violates, or encourages the infringement or other violation of any third-party rights.</p>

        <h2 class="text-2xl font-semibold text-gray-700 mt-6 mb-3">Your Privacy</h2>
        <p class="text-gray-600 leading-relaxed">Please read <a href="{% url 'privacy-policy' %}" class="text-blue-600 hover:underline">Privacy Policy</a></p>

        <h2 class="text-2xl font-semibold text-gray-700 mt-6 mb-3">Reservation of Rights</h2>
        <p class="text-gray-600 leading-relaxed">We reserve the right to request that you delete any and all connections to our Website or particular links to our Website. Upon our request, you undertake to immediately disconnect any connections to our website. These terms and conditions, as well as the linking policy, are subject to change at any time. If you continue to link to our Website, you agree to be bound by and comply with these linking terms and conditions.</p>

        <h2 class="text-2xl font-semibold text-gray-700 mt-6 mb-3">Removal of links from our website</h2>
        <p class="text-gray-600 leading-relaxed">If you find any link on our Website that is offensive for any reason, you are invited to contact us and notify us at any time. We will examine requests to remove links, but we are not obligated to do so or to respond to you personally.</p>
        <p class="text-gray-600 leading-relaxed">We offer no assurances that the information on this website is correct, complete, or accurate, that the website will be available, or that the material on the website will be kept up to date.</p>

        <h2 class="text-2xl font-semibold text-gray-700 mt-6 mb-3">Disclaimer</h2>
        <p class="text-gray-600 leading-relaxed">To the largest extent permitted by applicable law, we disclaim any and all claims, warranties, and conditions relating to this website and its use. Nothing in this disclaimer should be construed as:</p>
        <ul class="list-disc pl-5 text-gray-600 leading-relaxed">
            <li>minimize or eliminate our or your responsibility in the case of death or personal injury</li>
            <li>limit or exclude our or your liability for fraud or dishonesty;</li>
            <li>limit any of our or your liabilities in any way that is not allowed by law; or</li>
            <li>exclude any of our or your liabilities that are not permitted by relevant law to be excluded.</li>
        </ul>
        <p class="text-gray-600 leading-relaxed">The liability restrictions and prohibitions set out in this section and elsewhere in this disclaimer are as follows: (a) are bound by the provisions of the previous paragraph; and (b) All responsibilities arising under the disclaimer are regulated by these terms, including those originating in contract, tort, or for breach of statutory duty.</p>
        <p class="text-gray-600 leading-relaxed">We will not be liable for any loss or damage of any kind as long as the website and the information and services on the website are offered free of charge.</p>

        <p class="text-gray-600 leading-relaxed mt-6">Contact: info@bavaal.com</p>
    </div>
</div>
{% endblock %}